/* takesurvey.component.css */
*{
    background-color: rgb(245, 240, 240)
}
.container {
    margin-left: 10%;
    margin-bottom: 10%;
  }
  
  h2, h3 {
    color: #333;
    font-family: Arial, sans-serif;
  }
  
  p {
    color: #666;
    font-family: Arial, sans-serif;
    font-size: 14px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  label {
    font-family: Arial, sans-serif;
    color: #444;
  }
  
  input[type="radio"], input[type="checkbox"] {
    margin-right: 10px;
  }
  
  textarea {
    width: 80%;
    max-width: 100%;
    padding: 10px;
    font-family: Arial, sans-serif;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Arial, sans-serif;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
  }
  
  .review-section {
    margin-top: 20px;
  }
  
  .review-section h2 {
    margin-bottom: 20px;
  }

  .rating-container {
    display: flex;
    flex-direction: row;
    gap: 20px; /* Adjust the gap between radio buttons as needed */
  }
  
  .rating-option {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .rating-option input[type="radio"] {
    margin-bottom: 5px;
    margin-right: 1%; /* Adjust space between radio button and label */
  }
  
  