<form [formGroup]="signupForm" (ngSubmit)="submit()">
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" formControlName="name">
      <div *ngIf="signupForm.get('name')?.invalid && signupForm.get('name')?.touched">
        <small *ngIf="signupForm.get('name')?.errors?.['required']">Name is required.</small>
        <small *ngIf="signupForm.get('name')?.errors?.['minlength']">Name must be at least 3 characters long.</small>
      </div>
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email">
      <div *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched">
        <small *ngIf="signupForm.get('email')?.errors?.['required']">Email is required.</small>
        <small *ngIf="signupForm.get('email')?.errors?.['email']">Enter a valid email.</small>
      </div>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password">
      <div *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched">
        <small *ngIf="signupForm.get('password')?.errors?.['required']">Password is required.</small>
        <small *ngIf="signupForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters long.</small>
      </div>
    </div>
    <div>
      <label for="passwordConfirm">Confirm Password:</label>
      <input type="password" id="passwordConfirm" formControlName="passwordConfirm">
      <div *ngIf="signupForm.get('passwordConfirm')?.invalid && signupForm.get('passwordConfirm')?.touched">
        <small *ngIf="signupForm.get('passwordConfirm')?.errors?.['required']">Confirm Password is required.</small>
        <small *ngIf="signupForm.get('passwordConfirm')?.errors?.['minlength']">Confirm Password must be at least 6 characters long.</small>
      </div>
    </div>
    <button type="submit" [disabled]="signupForm.invalid">Register</button>
  </form>
  <button (click)="navigate()">Go to Login</button>
  