@import '@fortawesome/fontawesome-free/css/all.css';
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
  }
  
  .grid-item {
    display: flex;
    justify-content: center;
  }
  
  .box-container {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .create-box {
    background-color: #e0e0e0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .create-box i {
    font-size: 30px;
    margin-bottom: 10px;
  }